Repository ericmj/mint, pull requests merged in 2019-07, with the labels that each got.

#184 Add support for chunked transfer-encoding in HTTP/1 requests
  lib/mint/http1.ex
  lib/mint/http1/request.ex
  test/mint/http1/conn_test.exs
  test/mint/http1/request_test.exs
  test/support/mint/http1/test_server.ex
Labels: Protocol:HTTP/1

#186 Add support for trailing headers in HTTP requests
  lib/mint/core/conn.ex
  lib/mint/http.ex
  lib/mint/http1.ex
  lib/mint/http1/request.ex
  lib/mint/http2.ex
  lib/mint/unsafe_proxy.ex
  test/mint/http1/conn_test.exs
  test/mint/http2/conn_test.exs
Labels: Kind:Enhancement, Protocol:HTTP/1, Protocol:HTTP/2

#187 Catch connection errors in Mint.HTTP2.connect/4
  lib/mint/http2.ex
  test/mint/http2/conn_test.exs
Labels: Kind:Bug, Protocol:HTTP/2

#192 Downcase trailing headers like request headers
  lib/mint/http1.ex
  test/mint/http1/conn_test.exs
Labels: Kind:Bug, Protocol:HTTP/1

#191 Add decompression guide
  mix.exs
  pages/Decompression.md
Labels: Kind:Enhancement

#195 Add documentation about the TE header
  lib/mint/http.ex
Labels: Kind:Enhancement

#194 Handle unallowed trailing headers
  lib/mint/core/util.ex
  lib/mint/http1.ex
  lib/mint/http2.ex
  test/mint/http1/conn_properties_test.exs
  test/mint/http1/conn_test.exs
  test/mint/http2/conn_test.exs
Labels: Kind:Enhancement, Protocol:HTTP/1, Protocol:HTTP/2
